* {
    box-sizing: border-box;
}
@font-face {
    font-family: Karla;
    src: url(./fonts/Karla-Regular.ttf);
}
body{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 100px);
    font-family: Karla, sans-serif;
    justify-items: stretch;
}
header{
    background-color: lavender;
    grid-column: 1/5;
    padding: 5%;
}
main{
    background-color: bisque;
    grid-column: 1/5;
    padding: 5% 0 0 10%;
}

