* {
    box-sizing: border-box;
    margin: 0;
}
.grid-container{
    background-color: orange;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}
.header{
    background-color: white;
    grid-column: 1/3;
}
